 *{
 	margin: 0;
 	padding: 0;
 }

 @font-face{
 	font-family: 'Raleway';
 	src: url(fonts/Raleway/Raleway-Regular.ttf);
 }

 @font-face{
 	font-family: 'Roboto';
 	src: url(fonts/Roboto/Roboto-Regular.ttf);
 }

.container{
	width: 1500px;
	height: 3365px;
	margin: 0 auto;
}

.header{
	width: 100%;
	background-color:  #abeafa;
	height: 700px;
	position: relative;
}

.body{
	background-color:  #f8f8f8;
}

.price_cards {
	background-color:  #f8f8f8;
	width: 870px;
	height: 1654px;
	float: right;
	margin-right: 165px;
	margin-bottom: 30px;
	position: relative;
	top: -20px;
}

.menu_and_box{
	width: 270px;
	height: 805px;
	float: left;
	margin-left: 165px;
	position: relative;
	top: -20px;
}

.brand{
	background-color:  #ffffff;
	width: 1151px;
	height: 160px;
	clear: both;
	margin: 0 165px 0 165px;
	padding-left: 14px;
	padding-right: 5px;
}

.instagram{
	background-color:  #eaeaea;
	width: 1170px;
	height: 350px;
	margin: 0 165px 0 165px;
}

.smedia{
	width: 1170px;
	height: 150px;
	margin: 0 165px 0 165px;
}

.footer{
	background-color:  #373737;
	width: 100%;
	height: 348px;
	border: 1px solid black;
}

.header>a{
	display: inline-block;
	position: absolute;
	top: 24px;
	left: 234px;
}

.ybox{
	background-color:  #fff51f;
	width: 270px;
	height: 300px;
	position: absolute;
	top: 336px;
	left: 165px;
}

.bbox{
	width: 313px;
	height: 280px;
	position: absolute;
	top: 243px;
	left: 913px;
}

.ybox>h1{
	font-family: Raleway;
	color:  #333333;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: left;
	margin: 82px 0 24px 25px;
}

.ybox p{
	font-family: Raleway;
	color:  #333333;
	font-size: 18px;
	font-weight: 700;
	line-height: 14px;
	text-align: left;
	margin: 0 30px 0 22px;
}

.bbox h2{
	font-family: Raleway;
	color:  #fff51f;
	font-size: 48px;
	font-weight: 700;
	line-height: 34px;
	text-align: left;
	display: inline-block;
	margin: 0 0 0 0;
}

.bbox p{
	font-family: Raleway;
	color:  #fff51f;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	display: inline-block;
	margin: 0 0 0 0;
}

.buy_button{
	background-color:  #fff51f;
	width: 124px;
	height: 49px;
	margin-top: 62px;
}

.buy_button>a{
	font-family: Raleway;
	color:  #000000;
	font-size: 14px;
	font-weight: 800;
	text-align: center;
	text-decoration: none;
	line-height: 49px;
	display: inherit;
}

.media_header{
	width: 150px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 229px;
}

.mediahead{
	width: 16px;
	height: 16px;
	background-image: url(img/social.png);
	display: inline-block;
}

.twit{
	background-position: -23px 0;
	margin-right: 7px;
}

.yt{
	background-position: -50px;
	margin-right: 7px;
}

.pin{
	background-position: 43px;
	margin-right: 7px;
}

.insta{
	background-position: 16px;
}

.product_box{
	width: 100%;
}

.new_products{
	height: 769px;
}

.top_products{
	height: 400px;
	margin-bottom: 50px;
}

.sale_products{
	height: 400px;
}
.new_products h3{
	font-family: Roboto;
	color:  #707070;
	font-size: 22px;
	font-weight: 900;
	font-style: italic;
	text-align: left;
	display: block;
	margin-left: 25px;
	margin-top: 31px;
	width: 100%;
	margin-bottom: 31px;
}

.double_card1, .double_card2, .double_card3{
	height: 670px;
	width: 270px;
	display: inline-block;
}

.card_margin{
	margin-right: 25px;
}

.cards{
	background-color:  #ffffff;
	width: 100%;
	height: 320px;
	display: block;
	margin-bottom: 30px;
}

.top_products h3, .sale_products h3{
	font-family: Roboto;
	color:  #717171;
	font-size: 22px;
	font-weight: 900;
	font-style: italic;
	text-align: left;
	margin-top: 24px;
	margin-left: 31px;
	margin-bottom: 30px;
	display: block;
	width: 100%;
}

.cards2{
	background-color:  #ffffff;
	width: 270px;
	height: 320px;
	display: inline-block;
}

.menu{
	background-color:  #26d2fc;
	width: 270px;
	height: 475px;
	margin-bottom: 30px;
}

.now_is_open{
	background-color:  #e0e0e0;
	width: 270px;
	height: 300px;
	position: relative;
}

.now_is_open h2{
	font-family: Raleway;
	color:  #333333;
	font-size: 36px;
	font-weight: 800;
	line-height: 36px;
	text-align: left;
	display: block;
	position: absolute;
	left: 142px;
	top: 129px;
}

.menu_button{
	background-color: #333333;
	height: 50px;
	display: block;
	width: 228px;
	padding-left: 42px;
	line-height: 50px;
	text-decoration: none;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
}
.menu_links{
	display: block;
	width: 228px;
	height: 35px;
	padding-left: 42px;
	line-height: 35px;
	text-decoration: none;
	font-family: Roboto;
	color:  #000;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
}

.menu_links:hover{
	background-color: #333333;
	color:  #ffffff;
}

.brand a{
	height: 100%;
	display: inline-block;
	width: 130px;
	background-image: url(img/brands.png);
	background-repeat: no-repeat;
	background-position: 0 70px;
	margin-right: 9.5px;
}

.ig_feed{
	padding-top: 54px;
	width: 100%;
	display: block;
}
.ig_feed a{
	background-image: url(img/insta_icon.png);
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-left: 449px;
}

h4{
	font-family: Roboto;
	color:  #333333;
	font-size: 22px;
	font-weight: 900;
	font-style: italic;
	text-align: left;
	display: inline-block;
}

h5{
	font-family: Roboto;
	color:  #333333;
	font-size: 18px;
	font-weight: 900;
	font-style: italic;
	text-align: left;
	display: inline-block;

}

.feed_photos{
	display: inline-block;
}

.feedbt{
	height: 235px;
    width: 1150px;
	padding-top: 29px;
	padding-left: 20px; 
}

.btfb{
	background-color:  #3b5997;
	width: 390px;
	float: left;
	height: 150px;
	display: inline;
}
.btpin{
	background-color:  #cb2027;
	float: right;
	width: 390px;
	height: 150px;
	display: inline;
}

.bttwit{
	background-color:  #3fccfd;
	width: 390px;
	height: 150px;
	display: inline-block;

}

.btfb a{
	background-image: url(img/ficon.png);
	width: 30px;
	height: 62px;
	display: block;
	margin-left: 180px;
	margin-top: 44px;
}

.bttwit a{
	background-image: url(img/twicon.png);
	width: 64px;
	height: 52px;
	display: block;
	margin-top: 49px;
	margin-left: 163px;
}

.btpin a{
	background-image: url(img/pinicon.png);
	width: 64px;
	height: 64px;
	display: block;
	margin-left: 163px; 
	margin-top: 43px;
}

.top_footer{
	background-color:  #373737;
	width: 1500px;
	height: 301px;
	position: relative;
}

.bottom_footer{
	width: 100%;
	height: 47px;
	background-color:  #333333;
}

.footer_boxes{
	display: inline-block;
	margin-top: 55px;
}
.category{
	height: 190px;
	width: 125px;
	margin-right:88px;
	margin-left: 140px;
}
.our_account{
	width: 170px;
	height: 160px;
	margin-right: 77px;
}
.our_support{
	width: 142px;
	height: 162px;
	margin-right: 79px;
}
.newsletter{
	width: 267px;
	height: 162px;
	margin-right: 46px;
}
.about_us{
	width: 233px;
	height: 160px;
	position: absolute;
	top: 55px;
	display: inline-block;
}

ul li a{
	text-decoration: none;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 12px;
	font-weight: 400;
}

ul{
	list-style: none;
}

.h6{
	font-family: Raleway;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 27px;
}

.newsletter h6, .about_us h6{
	font-family: Raleway;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 8px;
}
.p{
	font-family: Roboto;
	color:  #f8f8f8;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	text-align: left;
	margin-bottom: 20px;
}
.buttons{
	width: 100%;
}
.field{
	background-color:  #fff51f;
	width: 180px;
	height: 30px;
	font-family: Roboto;
	color:  #333333;
	font-size: 12px;
	font-weight: 700;
	line-height: 21px;
	text-align: left;
	border:0;
	float: left;
}
.button{
	background-color:  #000000;
	width: 71px;
	height: 30px;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	border:0;
}
.payment{
	width: 100%;
	height: 22px;
	margin-top: 45px;
}

.payment_link{
	background-image: url(img/payment.png);
	width: 36px;
	height: 22px;
	display: inline-block;
}
.pay1{
	margin-right: 3px;
}
.pay2{
	background-position: -46px 0;
	margin-right: 3px;
}
.pay3{
	background-position: -92px 0;
	margin-right: 3px;
}
.pay4{
	background-position: 128px 0;
	margin-right: 3px;
}
.pay5{
	background-position: 81px 0;
	margin-right: 3px;
}
.pay6{
	background-position: 36px 0;
}
.phonee, .emaill{
	width: 100%;
	display: block;
	height: 20px;
}
.left{
	float: left;
	display: inline-block;
}
.right{
	display: inline-block;
	float: right;
}

.phonee p, .left{
	font-family: Roboto;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.maill{
	font-family: Roboto;
	color:  #faef03;
	font-size: 14px;
	font-weight: 400;
}

.copyright{
	display: inline-block;
	margin-left: 189px;
	margin-top: 21px;
	font-family: Roboto;
	color:  #dad9d9;
	font-size: 12px;
	font-weight: 400;
}
.footermedia{
	display: inline-block;
	float: right;
	width: 300px;
	height: 20px;
	margin-top: 19px;
	margin-right: 70px;
}
.footerlinks{
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-right: 12px;
	background-image: url(img/social_icons.png);
}
.twit1{
	background-position: -21px 0;
}
.pin1{
	background-position: -50px 0;
}
.goog1{
	background-position: -78px 0;
}
.tu1{
	background-position: -105px 0;
}
.insta1{
	background-position: 44.6px 0;
}
.r1{
	background-position: 17px 0;
}

.cards img, .cards2 img{
	background-color:  #eaeaea;
	width: 250px;
	height: 235px;
	margin-left: 10px;
	margin-top: 10px;
	border: 0;
}
.good_price{
	width: 100%;
	height: 70px;
	margin: 0 auto;
	position: relative;
}

.good_name{
	display: inline-block;
	float: left;
	font-family: Roboto;
	color:  #333333;
	font-size: 14px;
	font-weight: 900;
	font-style: italic;
	line-height: 18.012px;
	margin-left: 26px;
	margin-top: 24px;
}
.product_price{
	display: inline-block;
	float: right;
	font-family: Roboto;
	color:  #333333;
	font-size: 18px;
	font-weight: 900;
	font-style: italic;
	margin-right: 14px;
	margin-top: 27px;
}
.second_price{
	display: block;
	position: absolute;
	bottom: 5px;
	right: 12px;
	font-family: Roboto;
	color:  rgba(255, 0, 0, 0.6);
	font-size: 14px;
	font-weight: 900;
	font-style: italic;
	text-decoration: line-through;
}